<app-header-component></app-header-component>

<div class="tournament-form">
    <div class="container">
        <form [formGroup]="tournamentForm" (ngSubmit)="uploadImage()">
            <h1>{{ isUpdateMode ? 'Editar torneo' : 'Crear torneo' }}</h1>
            <div class="grid-form">
                <div class="col-12">
                    <label class="lbl-form">
                        Imagen
                    </label>
                    <div class="image-upload">
                        <input type="file" formControlName="imgInput" (change)="onFileSelected($event)"
                            accept="image/jpeg, image/png">
                        @if (imageUrl) {
                        <img [src]="imageUrl" alt="">
                        }
                    </div>
                    @if (tournamentForm.get('imgInput')?.invalid && tournamentForm.get('imgInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('imgInput')?.errors?.['required']) {
                            <p>Imagen es obligatorio</p>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label class="lbl-form">
                        Nombre
                    </label>
                    <input type="text" formControlName="nameInput" placeholder="Nombre">
                    @if (tournamentForm.get('nameInput')?.invalid && tournamentForm.get('nameInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('nameInput')?.errors?.['required']) {
                            <p>El nombre es obligatorio</p>
                        }
                        @if (tournamentForm.get('nameInput')?.errors?.['minlength']) {
                            <p>El nombre debe tener al menos 10 caracteres</p>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label class="lbl-form">
                        Ubicación
                    </label>
                    <select formControlName="locationInput">
                        <option selected disabled>Selecciona una ciudad</option>
                        <option value="CDMX">CDMX</option>
                        <option value="Guadalajara">Guadalajara</option>
                        <option value="Monterrey">Monterrey</option>
                    </select>
                    @if (tournamentForm.get('locationInput')?.invalid && tournamentForm.get('locationInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('locationInput')?.errors?.['required']) {
                            <p>La ubicación es obligatorio</p>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label class="lbl-form">
                        Número de jugadores
                    </label>
                    <input type="text" formControlName="numberPlayersInput" maxlength="3" (keydown)="allowOnlyNumbers($event)" placeholder="Número de jugadores">
                    @if (tournamentForm.get('numberPlayersInput')?.invalid &&
                    tournamentForm.get('numberPlayersInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('numberPlayersInput')?.errors?.['required']) {
                            <p>Número de jugadores es obligatorio</p>
                        }
                        @if (tournamentForm.get('numberPlayersInput')?.errors?.['pattern']) {
                            <p>Solo se permiten números</p>
                        }
                        @if (tournamentForm.get('numberPlayersInput')?.errors?.['maxlength']) {
                            <p>Solo se permiten 3 caracteres como máximo</p>
                        }
                    </div>
                    }
                </div>
                <div class="col-6">
                    <label class="lbl-form">
                        Tiempo torneo
                    </label>
                    <input type="text" formControlName="timeInput" placeholder="Tiempo torneo">
                    @if (tournamentForm.get('timeInput')?.invalid && tournamentForm.get('timeInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('timeInput')?.errors?.['required']) {
                            <p>Tiempo torneo es obligatorio</p>
                        }
                    </div>
                    }
                </div>
                <!-- <div class="col-12">
                    <label for="lbl-form">
                        Reglas
                    </label>
                    <textarea formControlName="rulesInput" [(ngModel)]="rulesText" (input)="updateRules()"></textarea>
                    @if (tournamentForm.get('rulesInput')?.invalid &&
                    tournamentForm.get('rulesInput')?.touched) {
                        <div class="invalid-feedback">
                            @if (tournamentForm.get('rulesInput')?.errors?.['required']) {
                            <p>Reglas es obligatorio</p>
                            }
                            @if (tournamentForm.get('rulesInput')?.errors?.['minlength']) {
                            <p>Las reglas deben tener al menos 100 caracteres</p>
                            }
                        </div>
                    }
                </div> -->
                <div class="col-12">
                    <label class="lbl-form">
                        Premio
                    </label>
                    <input type="text" formControlName="rewardInput" placeholder="Premio">
                    @if (tournamentForm.get('rewardInput')?.invalid && tournamentForm.get('rewardInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('rewardInput')?.errors?.['required']) {
                            <p>Premio es obligatorio</p>
                        }
                        @if (tournamentForm.get('rewardInput')?.errors?.['minlength']) {
                            <p>El premio debe tener al menos 40 caracteres</p>
                        }
                    </div>
                    }
                </div>
                <!-- <div class="col-12">
                    <label class="lbl-form">Reglas</label>
                    <div *ngFor="let rule of rules; let i = index;">
                        <input type="text" [placeholder]="'Regla ' + (i + 1)"
                            [(ngModel)]="rules[i]" />
                    </div>
                    <div class="btns-add-rules">
                        <button type="button" class="btn btn-add-rule" (click)="addRule()">
                            <i class="fa-solid fa-plus"></i>
                            Agregar regla
                        </button>
                        <button type="button" class="btn" [disabled]="rules.length === 1" (click)="removeLastRule()">
                            <i class="fa-solid fa-minus"></i>
                            Eliminar regla
                        </button>
                    </div>
                </div> -->
                <div class="col-4">
                    <label class="lbl-form">
                        Precio
                    </label>
                    <input formControlName="priceInput" type="text" placeholder="Precio">
                    @if (tournamentForm.get('priceInput')?.invalid && tournamentForm.get('priceInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('priceInput')?.errors?.['required']) {
                            <p>Precio es obligatorio</p>
                        }
                    </div>
                    }
                </div>
                <div class="col-4">
                    <label class="lbl-form">
                        Modalidad
                    </label>
                    <select formControlName="modeInput">
                        <option selected disabled>Selecciona una modalidad</option>
                        <option value="Presencial">Presencial</option>
                        <option value="En linea">En linea</option>
                    </select>
                    @if (tournamentForm.get('modeInput')?.invalid && tournamentForm.get('modeInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('modeInput')?.errors?.['required']) {
                            <p>Modalidad es obligatorio</p>
                        }
                    </div>
                    }
                </div>
                <div class="col-4">
                    <label class="lbl-form">
                        Fecha
                    </label>
                    <input formControlName="dateInput" type="date" mwlFlatpickr [minDate]="minDate">
                    @if (tournamentForm.get('dateInput')?.invalid && tournamentForm.get('dateInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('dateInput')?.errors?.['required']) {
                            <p>Fecha es obligatorio</p>
                        }
                    </div>
                    }
                </div>
                <div class="col-12">
                    <label class="lbl-form">
                        Descripción
                    </label>
                    <textarea formControlName="descriptionInput"></textarea>
                    @if (tournamentForm.get('descriptionInput')?.invalid &&
                    tournamentForm.get('descriptionInput')?.touched) {
                    <div class="invalid-feedback">
                        @if (tournamentForm.get('descriptionInput')?.errors?.['required']) {
                        <p>Descripción es obligatorio</p>
                        }
                        @if (tournamentForm.get('descriptionInput')?.errors?.['minlength']) {
                        <p>La descripción debe tener al menos 400 caracteres</p>
                        }
                    </div>
                    }
                </div>
            </div>

            <div class="content-btn-form">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>


<!-- <app-toast-component [showToast]="showToast" [message]="messageToast"></app-toast-component> -->