@import '../../../vars.sass'

.tournaments-page
    padding-top: 4rem
    padding-bottom: 4rem

.tournaments-list
    display: grid
    gap: 1rem


.tournaments-empty
    display: flex
    align-items: center
    justify-content: center
    min-height: 50dvh
    text-align: center
    font-size: 1.250rem


@media(min-width: 576px) 
    .tournaments-list
        grid-template-columns: repeat(2, 1fr)


@media(min-width: 992px) 
    .tournaments-list
        grid-template-columns: repeat(3, 1fr)


@media(min-width: 1200px) 
    .tournaments-list
        grid-template-columns: repeat(4, 1fr)


